In [1]:
#大A所有股票
import akshare as ak
import pandas as pd

df = ak.stock_a_indicator_lg(symbol="all")
df.rename(columns = {'stock_name' : 'name'}, inplace = True)
df.sort_values(by = ['code'], inplace = True)

df.to_csv('all.csv', index = False)
print(f'Done, {len(df)}')
df.head(3)

Done, 5361

       code  name
176  000001  平安银行
177  000002   万科A
178  000004  国华网安